<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> </title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>
    <body>
        
        <header class="container-md sticky-top">
            <div class="d-flex">
                <a href="home.html">
                    <img src="../Static/Images/logo-1.svg" alt="logo" class="w-50 h-100"/>
                </a>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="offcanvas offcanvas-end"
                            tabindex="-1"
                            id="offcanvasNavbar"
                            aria-labelledby="offcanvasNavbarLabel"
                        >
                            <div class="offcanvas-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="offcanvas"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul
                                    class="navbar-nav justify-content-end flex-grow-1 pe-3"
                                >
                                    <li class="nav-item">
                                        <a
                                            class="nav-link active"
                                            href="home.html"
                                            >Home</a
                                        >
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Collection</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a
                                            class="nav-link dropdown-toggle"
                                            href="#"
                                            data-bs-toggle="dropdown"
                                        >
                                            Shop
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="#"
                                                    >Action</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="#"
                                                    >Another action</a
                                                >
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="#"
                                                    >Something else here</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a
                                            class="nav-link dropdown-toggle"
                                            href="#"
                                            data-bs-toggle="dropdown"
                                        >
                                            Pages
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="#"
                                                    >Action</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="#"
                                                    >Another action</a
                                                >
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="#"
                                                    >Something else here</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <form class="d-flex h-25 mt-4" role="search">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </header>
        <main>
            <style>
                #main_carousel{
                    margin-top: 20px;
                    margin-bottom: 50px;
                }
                .carousel-item{
                    transition: transform 1s ease-in-out;
                }
                .carousel-control-prev-icon,
                .carousel-control-next-icon{
                    border-radius: 50%;
                    background-color: #f5ab1e;
                }
                
                
            </style>
            <section id="main_carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-wrap="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="../Static/Images/home/main_slider1.jpg" class="d-block w-100" alt="slide1">
                        </div>
                        <div class="carousel-item">
                        <img src="../Static/Images/home/main_slider2.jpg" class="d-block w-100" alt="slide2">
                        </div>
                        <div class="carousel-item">
                        <img src="../Static/Images/home/main_slider3.jpg" class="d-block w-100" alt="slide3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
            <section class="banner-wrap" class="col-12 col-md-auto">
                <div class="row justify-content-center g-5">
                    <div class="col-auto">
                        <img src="../Static/Images/home/banner-1.jpg" alt="banner1" class="img-fluid d-block">
                        <!-- <h2>Fresh fruit, vegetable on our product</h2> -->
                        <!-- <input type="button" name="shopnow" class="shopnow" value="Shop now"> -->
                    </div>
                    <div class="col-auto">
                        <img src="../Static/Images/home/banner-3.jpg" alt="banner2" class="img-fluid d-block">
                        <!-- <h2>Vegetable eggplant 100% fresh food</h2> -->
                        <!-- <input type="button" name="shopnow" class="shopnow" value="Shop now"> -->
                    </div>
                </div>
            </section>
            <section id="categories"></section>
            <section id="trending"></section>
            <section id="products"></section>
            <section id="customers"></section>
            <section id="recent_news"></section>
            <section id="mailing_list"></section>
            <section id="small_carousel"></section>


          
        </main>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
