<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link rel="icon" type="image/png" href="/Static/icons/favicon_dbbdd964-343e-4c1f-ab35-a8ed8a654f84.webp">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/Static/CSS/main.css"/>
        <style>
            .invalid-warning{
                font-size: 12px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script type="module">
            import {header} from "/componant/header.js"
            import {footer} from "/componant/footer.js"
            import {getBasePath} from "/componant/basepath.js"
            $("body").prepend(header(getBasePath()))
            $("body").append(footer(getBasePath()))

            $(function(){
                document.addEventListener("click", function (e) {
                if (e.target.id === "themeToggle") {
                    let html = document.documentElement;
                    let current = html.getAttribute("data-bs-theme");
    
                    if (current === "dark") {
                    html.setAttribute("data-bs-theme", "light");
                    e.target.textContent = "🌙";
                    } else {
                    html.setAttribute("data-bs-theme", "dark");
                    e.target.textContent = "☀️";
                    }
                }
                });
            })
        </script>
        <script type="module" src="/auth/JS/register.js"></script>
    </head>
    <body>
        <main class="container-fluid p-0">
            <div class="position-relative">
                <nav class="bg-image d-flex justify-content-center align-items-center">
                    <div class="bg-dark bg-opacity-25 position-absolute top-0 start-0 w-100 h-100"></div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item z-3"><a href="/home/Template/home.html" class="text-decoration-none text-white">Home</a></li>
                        <li class="breadcrumb-item active text-white z-3">Account</li>
                    </ul>
                </nav>
            </div>
            <div class="d-lg-flex justify-content-center align-items-center">
                <section class="col-lg-4 col-xxl-3 my-xxl-4">
                    <form action="" class="border border-1 p-2 mx-3 my-5 p-lg-4" novalidate>
                        <h2>Create Account</h2>
                        <div class="mb-3 mb-lg-3">
                            <small class="d-block pb-4">Please register below account detail</small>
                            <input type="text" id="firstName" class="form-control rounded-pill" placeholder="First Name">
                            <div class="invalid-feedback">
                                <p class="py-0 my-0 invalid-warning"><small>First Name Must be only letters , not less than 4</small></p>
                            </div>
                        </div>
                        <div class="mb-3 mb-lg-3">
                            <input type="text" id="lastName" class="form-control rounded-pill" placeholder="Last Name">
                            <div class="invalid-feedback">
                                <p class="py-0 my-0 invalid-warning"><small>Last Name Must be only letters , not less than 4</small></p>
                            </div>
                        </div>
                        <div class="mb-3 mb-lg-3">
                            <input type="email" id="email" class="form-control rounded-pill" placeholder="Email">
                            <div class="invalid-feedback">
                                <p class="py-0 my-0 invalid-warning"><small>Please insert valid email.</small></p>
                            </div>
                        </div>
                        <div class="mb-3 mb-lg-3">
                            <input type="password" id="password" class="form-control rounded-pill" placeholder="Password">
                            <div class="invalid-feedback">
                                <p class="py-0 my-0 invalid-warning"><small>Passwrod must contain Uppercase lettters</small></p>
                                <p class="py-0 my-0 invalid-warning"><small>lowercase letters</small></p>
                                <p class="py-0 my-0 invalid-warning"><small>at least one number</small></p>
                                <p class="py-0 my-0 invalid-warning"><small>special caracter</small></p>
                                <p class="py-0 my-0 invalid-warning"><small>minimal length 8</small></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="create" class="btn btn-warning rounded-pill w-100 text-white hover-bg-white my-lg-2"><b>Create</b></button>
                            <p class="text-warning mt-2"><b>Forgot your password?</b></p>
                        </div>
                    </form>
                </section>
                <section class="col-lg-4 col-xxl-3">
                    <div class="text-center">
                        <p><b>ِAlready an account holder?</b></p>
                        <button type="submit" id="login" class="btn btn-warning rounded-pill text-white px-4"><b>Log in</b></button>
                    </div>
                    <div class="px-3 py-2 mb-4">
                        <small class="text-warning"><span class="text-secondary">*</span><b>Terms & conditions.</b></small>
                        <small class="d-block">
                            Your privacy and security are important to us. For more information on how we use your data read our
                            <span class="text-warning"><b>privacy policy</b></span>
                        </small>
                    </div>
                </section>
            </div>
        </main>
        <script>
            
        </script>
    </body>
</html>
