*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* main theme */

:root {
    --main-footer-bg: #fbe2cb;
    --main-text-color: #e29911;
    --secondry-text-color: #b87700;
    --main-main-color: #f5ab1e;
}

/* dark theme */

[data-bs-theme="dark"] {
    --main-footer-bg: #393939;
    --main-text-color: #e29911;
    --secondry-text-color: #b87700;
    --main-main-color: #f5ab1e;
}

.mainFooterTheme {
    background-color: var(--main-footer-bg);
}

.mainTextTheme {
    color: var(--main-text-color);
}
.secondryTextTheme {
    color: var(--secondry-text-color);
}

.secondryTextTheme:hover {
    color: var(--main-text-color);
}

.mainBackgroundTheme {
    background-color: var(--main-main-color);
}

/* header tag */

header i {
    font-size: 20px;
}
header .cart-icon path {
    fill: white;
    stroke: black;
    stroke-width: 35;
}
header .search-btn > svg {
    fill: white;
}
header rform > #search {
    position: relative;
    right: 45px;
}
header .nav {
    --bs-nav-link-color: black;
}


.bg-image {
    background-image: url("/Static/Images/auth/breadcrumb.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px; 
}

/* footer tag */

footer .li-dashed {
    border-bottom: 1px dashed #000;
}
