<style>
    .productSubmit{
                border-radius: 20px;
                background-color: #f5ab1e;
                color: white;
                }
                
    .productSubmit:hover { 
        transition: background-color 0.3s ease;
        background-color: transparent;
        border-color: #f5ab1e;
        color: #f5ab1e;
        }
</style>

<div class="modal fade" id="editProductModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-bold">Edit Product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="editProductForm" class="w-50">
                    <div class="mb-3">
                        <label for="updateName" class="form-label fw-bold">Name:</label>
                        <input type="text" class="form-control" id="updateName" name="updateName" placeholder="Tomato">
                    </div>
                    <div class="mb-3">
                        <label for="updatePrice" class="form-label fw-bold">Price:</label>
                        <input type="text" class="form-control" id="updatePrice" name="updatePrice" placeholder="5.50">
                    </div>
                    <div class="mb-3">
                        <label for="updateDescription" class="form-label fw-bold">Description:</label>
                        <input type="text" class="form-control" id="updateDescription" name="updateDescription" placeholder="Lorem">
                    </div>
                    <div class="mb-3">
                        <label for="updateStock" class="form-label fw-bold">Stock(1 stock for every KG):</label>
                        <input type="text" class="form-control" id="updateStock" name="updateStock" placeholder="200">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label fw-bold">Category:</label>
                        <select class="form-select" id="category" aria-label="Categories">
                            <option value="Fresh Fruits">Fresh Fruits</option>
                            <option value="Tropical Fruits">Tropical Fruits</option>
                            <option value="Berries">Berries</option>
                            <option value="Leafy Vegetables">Leafy Vegetables</option>
                            <option value="Root Vegetables">Root Vegetables</option>
                            <option value="Cruciferous Vegetables">Cruciferous Vegetables</option>
                            <option value="Gourds">Gourds</option>
                            <option value="Citrus Fruits">Citrus Fruits</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="updateImage" class="form-label fw-bold">Image:</label>
                        <!-- <input type="text" class="form-control" id="image" name="image" placeholder="images.google.com"> -->
                        <input type="file" class = "form-control" id="updateImage" accept="image/*">
                        <img id="updateImagePreview" class="mt-3 w-100 d-none" style="max-height: 200px; object-fit:contain">
                    </div>
                    <div class="mb-3">
                        <label for="sizes" class="form-label fw-bold">Size (KG):</label>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button" id="sizesDropdown" data-bs-toggle="dropdown">Select Sizes</button>
                            <ul class="dropdown-menu w-100 p-3" style="max-height: 200px" >
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="1" id="size1">
                                        <label for="size1">1 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="2" id="size2">
                                        <label for="size2">2 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="3" id="size3">
                                        <label for="size3">3 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="4" id="size4">
                                        <label  for="size4">4 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="5" id="size5">
                                        <label for="size5">5 KG</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="sizesError"></div>

                    </div>
                    <div class="mb-3">
                        <label for="discount" class="form-label fw-bold">Discount (%):</label>
                        <input type="text" class="form-control" id="discountPercentage" name="discountPercentage" placeholder="20%">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="productSubmit btn btn-light fw-bold mt-2 px-4 py-2">
                            Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</div>

<script type = "module">
            
            
        $(".dropdown-menu").on("click", function(e){
            e.stopPropagation();
        });
        $(".size-option").on("change", function(){
            let selected = $(".size-option:checked").map(function(){
                return $(this).next("label").text();
            }).get();

            if(selected.length === 0){
                $("#sizesDropdown").text("Select Sizes");
            } else{
                $("#sizesDropdown").text(selected.join(", "));
            }
        });

    </script>