<style>
    .productSubmit{
                border-radius: 20px;
                background-color: #f5ab1e;
                color: white;
                }
                
    .productSubmit:hover { 
        transition: background-color 0.3s ease;
        background-color: transparent;
        border-color: #f5ab1e;
        color: #f5ab1e;
        }
</style>

<div class="modal fade" id="addProductModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-bold">Add Product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="" class="w-50">
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Tomato">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label fw-bold">Price:</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="5.50">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label fw-bold">Description:</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Lorem">
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label fw-bold">Stock(1 stock for every KG):</label>
                        <input type="text" class="form-control" id="stock" name="stock" placeholder="200">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label fw-bold">Category:</label>
                        <select class="form-select" id="category" aria-label="Categories">
                            <option value="bagel">Bagel</option>
                            <option value="candy">Candy</option>
                            <option value="beans">Beans</option>
                            <option value="bestseller">Bestseller</option>
                            <option value="bread">Bread</option>
                            <option value="biscuite">Biscuite</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="cake">Cake</option>
                            <option value="cookie">Cookie</option>
                            <option value="cupcake">Cupcake</option>
                            <option value="Dairy&Cheese">Dairy & Cheese</option>
                            <option value="Dinner">Dinner</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label fw-bold">Image:</label>
                        <!-- <input type="text" class="form-control" id="image" name="image" placeholder="images.google.com"> -->
                        <input type="file" class = "form-control" id="image" accept="image/*">
                        <img id="imagePreview" class="mt-3 w-100 d-none" style="max-height: 200px; object-fit:contain">
                    </div>
                    <div class="mb-3">
                        <label for="sizes" class="form-label fw-bold">Size (KG):</label>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button" id="sizesDropdown" data-bs-toggle="dropdown">Select Sizes</button>
                            <ul class="dropdown-menu w-100 p-3" style="max-height: 200px" >
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="1" id="size1">
                                        <label for="size1">1 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="2" id="size2">
                                        <label for="size2">2 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="3" id="size3">
                                        <label for="size3">3 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="4" id="size4">
                                        <label  for="size4">4 KG</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input size-option" type="checkbox" value="5" id="size5">
                                        <label for="size5">5 KG</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="sizesError"></div>

                    </div>
                    <div class="mb-3">
                        <label for="discount" class="form-label fw-bold">Discount (%):</label>
                        <input type="text" class="form-control" id="discountPercentage" name="discountPercentage" placeholder="20%">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="productSubmit btn btn-light fw-bold mt-2 px-4 py-2">
                            Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <script type = "module">
        import{Product, loadProducts, saveProducts} from "../../component/Product.js"
        const currentUser = JSON.parse(localStorage.getItem("currentUser"));
            
        $(document).ready(function(){
            if(!currentUser || currentUser.role !== "seller"){
                alert("Only Sellers can create products");
            }
            const sellerId = currentUser.id;
            const allowedCategories = [
                "bagel", "candy", "beans", "bestseller", "bread", "biscuite", "breakfast", "cake", "cookie", "cupcake", "Dairy&Cheese", "Dinner"
            ];
            let imageBase64 = "";
            $("#image").on("change", function(){
                const file = this.files[0];

                if(!file) return;

                if(!file.type.startsWith("image/")){
                    alert("Please select a valid image file.");
                    return;
                }
                const reader = new FileReader();
                reader.onload = function(e){
                    imageBase64 = e.target.result;
                $("#imagePreview").attr("src", imageBase64)
                                .removeClass("d-none");
                };
                reader.readAsDataURL(file);
            });

            $("form").off("submit").on("submit", function(e){
                e.preventDefault();
                let isValid = true;

                $(".form-control").removeClass("is-invalid");
                $(".invalid-feedback").remove();

                let name = $("#name").val().trim();
                let price = parseFloat($("#price").val());
                let description = $("#description").val().trim();
                let stock = parseInt($("#stock").val());
                let category = $("#category").val().trim();
                //let image = $("#image").val().trim();
                if(!imageBase64){
                    alert("Please Upload an image");
                    return;
                }

                let sizes = $(".size-option:checked").map(function(){
                    return parseInt($(this).val(),10);
                }).get();

                let discountPercentage = parseInt($("#discountPercentage").val());

                
                if (name.length<3){
                    showError("#name", "Name must be at least 3 characters");
                    isValid = false;
                }
                if (isNaN(price) || price<=0){
                    showError("#price", "Price must be a number greater than 0");
                    isValid = false;
                }
                if (description.length < 100 || description.length > 200){
                    showError("#description", "Description must be at least 100 characters and less than 200");
                    isValid = false;
                }
                if (isNaN(stock) || stock<=0){
                    showError("#stock", "Stock must be a number greater than 0");
                    isValid = false;
                }
                if (!allowedCategories.includes(category)){
                    showError("#category", "Invalid Category, allowed categories: bagel, candy, beans, bestseller, bread, biscuite, breakfast, cake, cookie, cupcake, Dairy&Cheese, Dinner");
                    isValid = false;
                }
                //if (!isValidURL(image)) {
                //    showError("#image", "Enter a valid image URL.");
                //    isValid = false;
                //}
                if (sizes.length === 0) {
                    $("#sizesError").html('<div class="text-danger mt-2">Please select at least one size</div>');
                    isValid = false;
                } else {
                    $("#sizesError").html("");
                }
                if(isNaN(discountPercentage) || discountPercentage<0 || discountPercentage>100){
                    showError("#discountPercentage","Discount Percentage must be a number between 0 and 100");
                    isValid = false;
                }
                if (!isValid) return;

                try{
                    let products = loadProducts() || [];

                    const newProduct = new Product(
                        Date.now(),
                        sellerId,
                        name,
                        price,
                        description,
                        stock,
                        category,
                        imageBase64,
                        sizes,
                        0,
                        [],
                        discountPercentage
                    );
                    products.push(newProduct);

                    saveProducts(products);
                    alert("Product added Successfully!");
                    //window.location.href = "product_list.html"
                    const modalElement = document.getElementById("addProductModal");
                    const modal = bootstrap.Modal.getOrCreateInstance(modalElement);
                
                    modal.hide();
                    document.body.classList.remove("modal-open");
                    $(".modal-backdrop").remove();
                    location.reload();
                    
                }catch(error){
                    alert(error.message)
                }
            });
            $(".dropdown-menu").on("click", function(e){
                    e.stopPropagation();
                });
                $(".size-option").on("change", function(){
                    let selected = $(".size-option:checked").map(function(){
                        return $(this).next("label").text();
                    }).get();

                    if(selected.length === 0){
                        $("#sizesDropdown").text("Select Sizes");
                    } else{
                        $("#sizesDropdown").text(selected.join(", "));
                    }
                });

            function showError(selector, message){
                $(selector).addClass("is-invalid");
                $(selector).after(`<div class= "invalid-feedback">${message}<div>`);
            }
            function isValidURL(url){
                try{
                    new URL(url);
                    return true;
                } catch(err){
                    return false;
                }
            }
        });
    </script>