<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> </title>
        <link rel="icon" type="image/png" href="/Static/icons/favicon_dbbdd964-343e-4c1f-ab35-a8ed8a654f84.webp">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/Static/CSS/main.css"/>
        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    <script src="/component/basepath.js"></script>
    <script src="/component/header.js"></script>
    <script src="/component/footer.js"></script>
    <script src="/component/layout.js"></script>
    <script src="/component/moodToggle.js"></script>
    <script>
        $(document).ready(function() {
            const $header = $("header");
            const $footer = $("footer");

            if ($header.length) $header.replaceWith(header());
            if ($footer.length) $footer.replaceWith(footer());
        });
    </script>


<style>
    .fspan{
        font-size: .7rem;
    }
    .clrspan1{
background-color: rgb(245, 245, 252) ;
color: rgb(89, 85, 209) ;
text-align: center;

    }
.clrspan2{
   background-color: rgb(240, 249, 246);
        color: rgb(23, 156, 102);
}
.clrspan3{
    background-color: rgb(246, 240, 254);
        color: rgb(112, 8, 231);
}
    .clrspan4{
        background-color: rgb(255, 243, 243); 
        color: rgb(248, 54, 54) ;
    }
    .btnclr1{
        background-color: rgb(240, 249, 246);
        color: rgb(23, 156, 102);
    }
    .btnclr2{
        background-color: rgb(255, 243, 243); 
        color: rgb(248, 54, 54) ;
    }
    .card-custom {
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.05);
      background: #fff;
      height: 100%;
     
    }
        .pipeline-bar {
      height: 40px;
      border-radius: 10px;
      margin-bottom: 15px;
    }
      .bg-soft-purple {
         background: #e9e6ff; 
        }
    .bg-soft-green {
         background: #d9f2e6; 

        }
    .bg-soft-pink {
         background: #ffe3e3;
         }
</style>

</head>
<body>
      <header></header>



        <main>
<div class="container-fluid container-lg">
<!---------------------------------------------------------------------->
<div class="row my-2"> <!--start of the row 1 -->

<div class="col-6 col-lg-3 my-2" >  <!-- start first cart-->
<div class="card" >
  <div class="card-body">

<div class="d-flex justify-content-around">

 <h6 class="card-title">Total Users</h6>
 
<div class="dropdown">
  <a class="btn btn-white shadow " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-solid fa-ellipsis"></i>
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Edit</a></li>
    <li><a class="dropdown-item" href="#">Delete</a></li>
  </ul>
</div>

   
</div> <!--end of the dropdown -->
    <div class="my-2 border-bottom p-1">
  <p > 

    <span class="  rounded-circle  p-3 clrspan1"> 
        <i class="fa-regular fa-user"></i>
    </span>
    <span class="mx-3 ">12,560</span>
 </p> 

    </div>
    
    <div class="d-flex align-items-center justify-content-between">
        <span class="btn  p-1 btnclr1">+2.57% </span>
        <span class="text-secondary fspan">Vs last month: 10,195</span>
    </div>
 
  </div><!--end of body  card -->

</div> <!-- end of first cart-->


</div>
<!---------------------------------------------------------------------->
<div class="col-6 col-lg-3 my-2"  ><!-- start second  cart-->
<div class="card">
  <div class="card-body">

<div class="d-flex justify-content-around">

 <h6 class="card-title">Active Users</h6>
 
<div class="dropdown">
  <a class="btn btn-white shadow " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-solid fa-ellipsis"></i>
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Edit</a></li>
    <li><a class="dropdown-item" href="#">Delete</a></li>
  </ul>
</div>

   
</div> <!--end of the dropdown -->
    <div class="my-2 border-bottom p-1">
  <p > 
    <span class="border rounded-circle clrspan2 p-3 text-center">
        <i class="fa-regular fa-circle-check"></i>
    </span>
    <span class="mx-3">8,940</span>
 </p> 

    </div>
    
    <div class="d-flex align-items-center justify-content-between">
        <span class="btn btnclr1 p-1">+4.10% </span>
        <span class="text-secondary  fspan">Vs last month: 7,650</span>
    </div>
 
  </div><!--end of body  card -->

</div> 


</div><!--end of second card -->

<!------------------------------------------------------------------------->
<div class="col-6 col-lg-3 my-2"  ><!-- start third  cart-->
<div class="card">
  <div class="card-body">

<div class="d-flex justify-content-around">

 <h6 class="card-title">New Registrations</h6>
 
<div class="dropdown">
  <a class="btn btn-white shadow " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-solid fa-ellipsis"></i>
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Edit</a></li>
    <li><a class="dropdown-item" href="#">Delete</a></li>
  </ul>
</div>

   
</div> <!--end of the dropdown -->
    <div class="my-2 border-bottom p-1">
  <p > 
    <span class="border rounded-circle clrspan3 p-3 text-center">
      <i class="fa-solid fa-user-plus"></i>
    </span>
    <span class="mx-3">1,240</span>
 </p> 

    </div>
    
    <div class="d-flex align-items-center justify-content-between">
        <span class="btn btnclr1 p-1">+6.22% </span>
        <span class="text-secondary  fspan">Vs last month: 1,168</span>
    </div>
 
  </div><!--end of body  card -->

</div> 


</div><!--end of third card -->
<!--------------------------------------------------------------------------->

<div class="col-6 col-lg-3 my-2"  ><!-- start fourth  cart-->
<div class="card">
  <div class="card-body">

<div class="d-flex justify-content-around">

 <h6 class="card-title">Blocked Users</h6>
 
<div class="dropdown">
  <a class="btn btn-white shadow " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-solid fa-ellipsis"></i>
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Edit</a></li>
    <li><a class="dropdown-item" href="#">Delete</a></li>
  </ul>
</div>

   
</div> <!--end of the dropdown -->
    <div class="my-2 border-bottom p-1">
  <p > 
    <span class="border rounded-circle clrspan4 p-3 text-center">
    <i class="fa-solid fa-ban"></i>
    </span>
    <span class="mx-3">360</span>
 </p> 

    </div>
    
    <div class="d-flex align-items-center justify-content-between">
        <span class="btn btnclr2 p-1">-1.1% </span>
        <span class="text-secondary  fspan">Vs last month: 400</span>
    </div>
 
  </div><!--end of body  card -->

</div> 


</div><!--end of fourth card -->
</div><!--end of the row 1 -->
<!--------------------------------------------------------------------------->


<div class="row my-2"> <!--start of the row 2 -->



    
    <div class=" col-12   col-lg-8 my-2 "><!--start  Card onee-->
      <div class="card p-4">
        
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="mb-0">Revenue</h5>



          <div class="btn-toggle btn-group">
            <button class="btn btn-sm btn-light">Today</button>
            <button class="btn btn-sm btn-light">Week</button>
            <button class="btn btn-sm btn-primary">Month</button>
          </div>
        </div>

      <div style="height:300px;">
    <canvas id="revenueChart"></canvas>
  </div>


      </div>
    </div><!--end  Card onee-->

<div class="col-lg-4 my-2"> <!--start  Card twoo-->
      <div class="card p-4">
        <h5>Retention Rate</h5>

        <div class="mb-3">
          <span class="metric-value">92%</span>
          <span class="metric-growth ms-2">+15% vs last month</span>
        </div>

       

   

      </div>
    </div><!--end  Card twoo-->


    


</div> <!--end of the row 2 -->
<!--------------------------------------------------------------------------->

<div class="row my-2"><!--start of the row 3 -->

<div class="col-12 col-md-6 col-xl-4 my-2">     <!--start of the card  -->
      <div class="card-custom">
        <div class="d-flex justify-content-around">
        <h5 class="mb-4">Upcoming Meetings</h5>

        <div class="dropdown">
  <a class="btn bg-soft-green shadow " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-solid fa-ellipsis"></i>
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Edit</a></li>
    <li><a class="dropdown-item" href="#">Delete</a></li>
  </ul>
</div>
</div>

        
        <div class="mb-3 p-3 bg-light rounded">
          <strong>HR</strong>
          <div class="text-muted small">06:00 - 07:00</div>
        </div>

        <div class="mb-3 p-3 bg-light rounded">
          <strong>Team Stand Up</strong>
          <div class="text-muted small">Marketing · 06:00 - 07:00</div>
        </div>

        <div class="p-3 bg-light rounded">
          <strong>All Hands Meeting</strong>
          <div class="text-muted small">Manager · 06:00 - 07:00</div>
        </div>
      </div>
    </div><!--end of the card  -->
<!--------------------------------------------------------------------------->
 <div class="col-12 col-md-6 col-xl-4 my-2"> 
      <div class="card-custom">
        <h5 class="mb-4">Deals Overview</h5> <!--start of the card  -->

        <div class="row g-3 mb-4">
          <div class="col-6">
            <div class="p-3 bg-light rounded text-center">
              <h6>Closed Deals</h6>
              <h4>27</h4>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 bg-light rounded text-center">
              <h6>Pipeline Value</h6>
              <h4>$5.2M</h4>
            </div>
          </div>
        </div>

        <div class="bg-soft-purple p-4 rounded text-center">
          <strong>Conversion Rate 16%</strong>
        </div>
      </div>
    </div><!--end of the card  -->
<!--------------------------------------------------------------------------->

<div class="col-12 col-md-12 col-xl-4 my-2">
      <div class="card-custom">
        <h5 class="mb-4">Sales Pipeline Overview</h5>
        <h3>$2,56,054.50</h3>

        <div class="pipeline-bar bg-soft-purple d-flex align-items-center px-3">
          Leads <span class="ms-auto">120</span>
        </div>

        <div class="pipeline-bar bg-soft-green d-flex align-items-center px-3">
          Prospects <span class="ms-auto">85</span>
        </div>

        <div class="pipeline-bar bg-soft-purple d-flex align-items-center px-3">
          Opportunities <span class="ms-auto">40</span>
        </div>

        <div class="pipeline-bar bg-soft-pink d-flex align-items-center px-3">
          Closed Deals <span class="ms-auto">20</span>
        </div>
      </div>
    </div>


</div><!--end of the row 3 -->

</div><!--end of the container-->
        </main><!--end of the main-->


<footer></footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../JS/admin.js"></script>
</body>
</html>