<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Adresses</title>
        <link rel="icon" type="image/png" href="/Static/icons/favicon_dbbdd964-343e-4c1f-ab35-a8ed8a654f84.webp">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/Static/CSS/main.css"/>
        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    <script src="/component/basepath.js"></script>
    <script src="/component/header.js"></script>
    <script src="/component/footer.js"></script>
    <script src="/component/layout.js"></script>
    <script src="/component/moodToggle.js"></script>
    <script src="/component/countries.js"></script>
    <script type="module" src="../JS/profileAddress.js"></script>
    <script>
        $(document).ready(function() {
            const $header = $("header");
            const $footer = $("footer");

            if ($header.length) $header.replaceWith(header());
            if ($footer.length) $footer.replaceWith(footer());
        });
    </script>
    <script>
        $(function() {
            $("#addAddressBtn").click(function(e) {
                e.preventDefault();
                $("#addressForm").toggleClass("visually-hidden");
            });
        });
    </script>
    </head>
    <body>
        <header></header>
        <main>
            <div class="position-relative">
                <nav class="bg-image d-flex justify-content-center align-items-center">
                    <div class="bg-dark bg-opacity-25 position-absolute top-0 start-0 w-100 h-100"></div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item z-3"><a href="/home/Template/home.html" class="text-decoration-none text-white">Home</a></li>
                        <li class="breadcrumb-item active text-white z-3">Account</li>
                    </ul>
                </nav>
            </div>
            <section class="container-md p-3">
                <div class="mt-5 mb-4">
                    <h1 class="mb-0">Your Addresses</h1>
                    <a href="./profile.html" class="mainTextTheme">Return to Profile Details</a>
                </div>
                <div id="addAddressSection" class="d-flex justify-content-center bg-body-secondary bg-opacity-50 mb-4">
                    <a href="#" id="addAddressBtn" class="text-decoration-none text-black text-center py-5 link-warning">
                        <i class="fa-solid fa-plus fa-2x  border border-3 rounded-circle p-1 px-2 border-dark"></i>
                        <p class="mt-3 fs-5">Add a New Address</p>
                    </a>
                </div>
                <div id="addressForm" class="visually-hidden">
                    <h4>Add a New Address</h4>
                    <form action="">
                        <section class="d-md-flex gap-md-4">
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="firstName" class="text-secondary mb-2">First Name</label>
                                <input type="text" id="firstName" placeholder="First Name" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="lastName" class="text-secondary mb-2">Last Name</label>
                                <input type="text" id="lastName" placeholder="Last Name" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            
                        </section>
                        <section class="d-md-flex gap-md-4">
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="address" class="text-secondary mb-2">Address</label>
                                <input type="text" id="address" placeholder="Address" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="apartment" class="text-secondary mb-2">Apartment</label>
                                <input type="text" id="apartment" placeholder="Apartment" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            
                        </section>
                        <section class="d-md-flex gap-md-4">
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="city" class="text-secondary mb-2">City</label>
                                <input type="text" id="city" placeholder="City" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="country" class="text-secondary mb-2">Country</label>
                                <select name="country" id="country" class="form-select p-2 px-3 border border-1 rounded-pill">
                                        <option id="firstSelectOption">Egypt</option>
                                </select>
                            </div>
                            
                        </section>
                        <section class="d-md-flex gap-md-4">
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="postalCode" class="text-secondary mb-2">Postal/Zip Code</label>
                                <input type="text" id="postalCode" placeholder="Postal/Zip Code" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            <div class="d-flex flex-column col-12 col-md-6 mb-3">
                                <label for="phone" class="text-secondary mb-2">Phone</label>
                                <input type="text" id="phone" placeholder="Phone" class="p-2 px-3 border border-1 rounded-pill">
                            </div>
                            
                        </section>
                        <div class="d-flex gap-2 mb-3">
                            <input type="checkbox" id="default" class="form-check-input p-2 rounded-0">
                            <label for="default" class="text-secondary mb-2">Set as default address</label>
                        </div>
                        <div class="d-flex mb-3">
                            <input id="addAddress" type="submit" value="Add Address" class="mainBackgroundTheme px-3 py-2 rounded-pill border-0 me-2">
                            <input type="button" value="Cancel" class="bg-secondary bg-opacity-50 px-3 py-2 rounded-pill border-0 ">
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
