<!doctype html>
<html lang="en">
 <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shopping Cart</title>
        <link rel="icon" type="image/png" href="./Static/icons/favicon_dbbdd964-343e-4c1f-ab35-a8ed8a654f84.webp">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <link rel="stylesheet" href="./Static/CSS/main.css"/>
        <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script type="module">
            import {header} from "./componant/header.js"
            import {footer} from "./componant/footer.js"
            import {getBasePath} from "./componant/basepath.js"
            $("body").prepend(header(getBasePath()))
            $("body").append(footer(getBasePath()))
        </script>
        <script>
            $(function(){
                document.addEventListener("click", function (e) {
                if (e.target.id === "themeToggle") {
                    let html = document.documentElement;
                    let current = html.getAttribute("data-bs-theme");
    
                    if (current === "dark") {
                    html.setAttribute("data-bs-theme", "light");
                    e.target.textContent = "🌙";
                    } else {
                    html.setAttribute("data-bs-theme", "dark");
                    e.target.textContent = "☀️";
                    }
                }
                });
            })
        </script>
        <style>
      .progress-wrapper {
        position: relative;
      }
      .progress {
        height: 10px;
      }


      .progress-truck {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        padding: 6px 8px;
        border-radius: 50%;
      }

      .input-group {
        width: 50%;
      }
      .form-select:focus,
      .form-control:focus {
        border: 2px solid #f5ab1e;
        outline: 0;
        box-shadow: none;
      }
      .quantity .btn:hover {
        background-color: #f5ab1e;
      }
      .remove-btn:hover {
        color: #f5ab1e;
      }

      .sticky-box {
        position: sticky;
        top: 20px;
      }
      #calc-shipping-btn, #checkout-btn {
        border: none;
        padding-block: 10px;
      }
    </style>
    </head>
  <body>
    <main>
      <div
        class="bg-image text-dark d-flex justify-content-center align-items-center gap-2"
      >
        <a href="../../home/Template/home.html" class="btn p-0 text-dark">Home</a>
        <span>/</span>
        <p class="m-0">Your Shopping Cart</p>
    </div>



      <div class="container-fluide relative my-5 px-lg-5 px-4">
        <div class="row">
          <!-- Products Column -->
          <div class="col-12 col-lg-8">
            <div class="free-shipping-bar w-75 mx-auto mb-5">
              <p class="text-center fw-bold h5 mb-4">
                Spend €30,00 more and get free shipping!
              </p>

              <div class="progress-wrapper w-75 mx-auto">
                <div class="progress-truck mainBackgroundTheme text-white fw-bold" style="left: 50%;">
                  <i class="fa-regular fa-truck"></i>
                </div>

                <div
                  class="progress"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-label="Warning example"
                >
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated text-bg-warning"
                    style="width: 50%"
                  ></div>
                </div>
              </div>
            </div>
            <h4>Your Cart:</h4>

            <div class="container">
              <!-- Header -->
              <div
                class="row fw-bold text-center border-bottom pb-2 mb-3 d-none d-md-flex"
              >
                <div class="col-md-6">Product</div>
                <div class="col-md-3">Quantity</div>
                <div class="col-md-3">Total</div>
              </div>

              <!-- Cart Items -->
              <div class="cart-items">
                
              </div>

            </div>

            <!-- Discount code + Return button -->
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-start-pill"
                  placeholder="Discount code"
                  aria-label="Discount code"
                />
                <span
                  class="btn input-group-text bg-dark rounded-end-circle"
                  id="discount-code-btn"
                >
                  <i class="fa fa-arrow-right text-white"></i>
                </span>
              </div>
              <div class="return-btn mt-3 mt-sm-0">
                <a
                  href="../../productList/Template/product_list.html"
                  class="mainBackgroundTheme text-decoration-none rounded-5 fw-bold px-5 py-2"
                  style="color: white;"
                  >Return to store</a
                >
              </div>
            </div>

            <!-- Order special instructions -->
            <h5 class="mb-4">Order special instructions</h5>
            <textarea
              name="instructions"
              id="instructions"
              placeholder="Order special instructions"
              class="w-100 p-2"
              rows="5"
            ></textarea>
          </div>

          <!-- Sidebar Column -->
          <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <div class="sticky-box bg-body-secondary p-3">
              <!-- Shipping Estimates -->
              <div class="shipping mb-4">
                <div class="fw-bold mb-2">
                  <span class="h5">Get shipping estimates</span>
                </div>
                <div class="my-3">
                  <label class="text-secondary">Country</label>
                  <select
                    class="form-select bg-transparent w-100 rounded-5"
                    aria-label="Default select example"
                    id="countries"
                  >
                    
                  </select>
                </div>
                <div class="my-3 d-none">
                  <label class="text-secondary">cities</label>
                  <select
                    class="form-select bg-transparent rounded-5"
                    aria-label="Default select example"
                    id="cities"
                  >
                  </select>
                </div>
                <div class="mb-3">
                  <label class="text-secondary">Postal/Zip code</label>
                  <input
                    type="text"
                    name="zip-code"
                    id="zip-code"
                    placeholder="Postal/Zip code"
                    class="form-control rounded-5"
                  />
                </div>
                <div class="shipping-rate">

                </div>
                <button
                  type="button"
                  
                  class="mainBackgroundTheme w-100 rounded-5 fw-bold text-white" id="calc-shipping-btn">
                  Calculate shipping
                </button>
              </div>

              <!-- Checkout -->
              <div class="checkout">
                <div
                  class="d-flex justify-content-between align-items-center fw-bold"
                >
                  <span class="h4">Subtotal</span>
                  <span>$65.00 dollar</span>
                </div>
                <p class="text-secondary my-4">
                  Taxes and shipping calculated at checkout
                </p>
                <button
                  type="button"
                  class="mainBackgroundTheme w-100 rounded-5 fw-bold"
                  style="color: white;"
                  id="checkout-btn"
                >
                  Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="../../componant/addToCart.js"></script>
    <script src="../JS/script.js"></script>
  </body>
</html>
