                    <div class="p-4 mb-3 text-center border-0" style="background-color: #f8f9fa;">
                        <div class="rounded-circle bg-white d-inline-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <img src="../images/deliveryIcon.jpg" width="30" alt="add">
                        </div>

                        <button class="btn btn-warning w-100 py-2 fw-bold rounded-pill">
                            Add Product
                        </button>
                    </div>



<style>
    .badge.rounded-circle {
        width: 40px;
        height: 40px;
        line-height: 40px; 
        text-align: center;
        font-weight: 500;
        padding: 0;
    }
    .btn-variant-pill {
        background-color: #f8f9fa !important;
        border: 1px solid transparent !important;
        border-radius: 50rem !important;    
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.2s;
    }
    .btn-check:checked + .btn-variant-pill {
        background-color: #ffffff !important;
        color: #212529 !important; 
        border-color: #ffc107 !important; 
        box-shadow: none !important;
    }
    .btn-check:focus + .btn-variant-pill,
    .btn-check:checked + .btn-variant-pill {
        box-shadow: none !important;
    }
    .btn-warning, .btn-custom {
        background-color: #f7b733 !important; 
        border-color: #f7b733 !important;
        color: white !important;
        border-radius: 50px !important;
        font-weight: 500;
    }
    .btn-warning:hover {
        background-color: #e5a622 !important;
    }
</style>